@font-face {
font-family: 'Neris Light';
src: url('Neris-Light.eot');
src: url('Neris-Light.eot?#iefix') format('embedded-opentype'),
url('Neris-Light.woff') format('woff'),
url('Neris-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}